p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #e4efff;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #80b1f7;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

#map {
    display: block;
    margin: auto;
    height: 600px;
    width: 1000px;
}

.nav-menu {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover, .nav-box:hover{
    background-color: #1d539f;
}

li.nav-box {
    display: block;
}

.nav-box:hover {
    display: block;
}

a:hover {
    background-color: #80b1f7;
}

#work-edu-site {
    text-align: center;
}

.work-edu-container {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

/* the profile photo */
.name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.section-header {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 1.5em;
}

.text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hobby-header {
    text-align: center;
}

.hobby-content {
    text-align: center;
}

#timeline-form {
    margin-left: 33%;
    margin-bottom: 50px;
}

.timeline {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.outer {
    border-left: 2px solid;
}

.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    position: relative;
    margin: 0;
}

.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    left: -39px;
    border: 3px solid;
}

#content {
    width: 400px;
}